  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Syne:wght@400;500;600&display=swap');

:root {
    --colorChange: rgb(255, 123, 0);
}

body {
    font-family: 'Poppins', sans-serif;
}  

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin: 0px 15px;
}

nav a:hover {
    color: var(--colorChange) !important;
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--colorChange);
  }

  nav {
    box-shadow: 0 0 30px rgb(143, 143, 143, 0.6);
  }

  .hero-bg {
    height: 100vh;
    position: relative;
    background-image: url(/images/vecteezy_watercolor-art-background-vector-wallpaper-design-with_23031786.jpg);
    background-color: rgba(255,255,255,0.4) !important;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .sub-heading {
    color: rgb(107, 107, 107);
  }

  .hero-content {
    display: flex;
    align-items: center;
  }

  .custom-btn {
    border-color: var(--colorChange);
    text-decoration: none;
    
  }


  .custom-btn:hover {
    background-color: var(--colorChange);
    color: white;
    box-shadow: 0 5px 10px 0 rgb(255, 123, 0, 0.16), 0 10px 20px 0 rgb(255, 123, 0, 0.12);
  }

.icon {
  height: 20px;
  margin: 10px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.5);
}

  .about-bg {
    height: 100vh;
    background-image: url(/images/about-bg.jpg);
    background-color: rgba(255,255,255,0.9) !important;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
  }