  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Syne:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}  

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin: 0px 15px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-thickness: 2px;
    text-decoration-color: orange;
  }

  nav {
    box-shadow: 0 0 20px rgb(143, 143, 143, 0.5);
  }